/*set all things to having no padding and no margin, those will be implemented later
also set font-family attribute, we can change this later*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Baloo Bhaina 2', system-ui,-apple-system;
}

/* display flex will line up the h4 element and ul element next to each other.
justify-content: space-around will put some space between those elements.
align items center the items vertically */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #9DC9DC;
}

ul {
	list-style-type: none;
	padding-left: 0;
}


/* Letter spacing adds space between letters */
h4 {
	font-size: 30px;
	letter-spacing: 3px;
}

/* Flex will line up the items in navigation ul list next to each other 
display flex with justify content space-around allows us to 
*/
.nav_links {
	display: flex;
	justify-content: space-around;
	width:40%;
	letter-spacing: 2px;
	z-index: 2;
	
}

.link {
	transition: transform 0.2s;
}

.link:hover {
	transform: scale(1.3);
}

/* hide the nav button while in computer view */
.nav_button{
	display: none;
}

/*this will make the nav button */
.nav_button div{
	width: 25px;
	height: 4px;
	background-color: black;
	margin: 5px;
}

/* Remmoves underlining from links and makes them black */
a {
	text-decoration: none;
	color: black;
}

html, body{
	height: 100%;
	width: 100%;
}
/* Edits maps size and position*/
/*#map{
	height: calc(100% - 61px);
	width: 100%;
	position: fixed;
	z-index: 0;
}*/
#map {
	height: calc(100% - 61px);
	width: 80%;
	position:absolute;
	left: 0;
	z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }
  
  #contactform {
	position: relative;
	z-index: 1; /* The z-index should be higher than Google Maps */
	width: 20%;
	margin-left: 80% ;
	padding: 0px;
	height: calc(100% - 61px);
	opacity: 1; 

	overflow:hidden; overflow-y:scroll;
  }

/* @media rule is used to apply different styles for different media types. 
in short, "when screen width is under 768px, do this style"
more: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media screen and (max-width:768px){
	/* this hides everything that goes over the browser size, 
	this will hide the navigation bar that is in the right of the screen*/
	body {
		overflow: hidden;
	}
	
	.nav_links {
		position: absolute;
		right: 0px;
		height: 93%;
		/* top property will align the links right belov the nav bar */
		top: 7%;
		background-color: #9DC9DC;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		/* moves the links to the right of the screen, 
		so they are not visible */
		transform: translateX(100%);
		/* Transition will transition between the two "transform" attributes
		in 0.5 seconds. ease-in option means that it has a slow start. */
		
		
	}
	
	.nav_button {
		display: block;
		cursor: pointer;
	}
	
	/*this is separately so that the transformation doesn't happen when the screen is resized*/
	.nav_links {
		transition: transform 0.5s ease-in;
	}
}

.nav-active {
	transition: transform 0.5s ease-in;
	transform: translateX(0%);
}
/*edits buttons and text element in the facts page*/
.generator {
	padding-top: 2%;
	position: relative;
	z-index: 1;
	max-width: 75ch;
	margin: auto;
	text-align: center;
}
/*buttons in the facts page*/
#vitsi, #fakta {
	border: 1px solid;
	background: none;
	width: 8em;
	padding: 1%;
	font-size: 20px;
	margin: 10px;
	transition: 0.5s;
}
/*buttons in images on the map page*/
.imageButton {
	border: 1px solid;
	background: white;
	width: 7em;
	transition: 0.5s;
	text-align: center;
}
/*creates hover effect to the buttons in the facts page*/
#vitsi:hover, #fakta:hover , .imageButton:hover{
	background: #9DC9DC;
}
/* controls video on the third screen */
#video {
	position: relative;
	/* this calculates the video aspect ratio, which is 16:9 
	and will make the video to appear with out borders */
	padding-top: calc((90%/16)*9);
	overflow: hidden;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	top: 8vh;
	justify-content: center;
	align-items: center;
}
#media {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.none {
	list-style: none;
}

.image {
	width: 200%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}
  .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: 100px;
	left: 110%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	
  }
  
  .container:hover .image {
	opacity: 0.9;
  }
  
  .container:hover .middle {
	opacity: 1;
  }
  .container {
	position: relative;
	width: 50%;
  }
  
  button {
	background-color: #9DC9DC;
  }
/* The popup background */
#popup {
	display: none;
	position: fixed;
	z-index: 3;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* popup Content image */
.popupImage {
	margin: auto;
	display: block;
	padding-top: 2%;
	height: 80%;
	max-height: 800px;
}
  /* The Close Button */
.close {
	position: absolute;
	top: 2%;
	right: 2%;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

